.hidden {
  display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
  
.navbar-inverse {
    background-color: red;
    border-color: red;
}
   
.container-fluid {
    border : none;
}
  
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}

.container-for-image{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.inline-block {
   display: inline-block;
}

#thumbs-down{
  float: right;
}

#thumbs-up{
  float: right;

}

#medium-face{
  float: right;
}

.step-image {
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:auto;
}

.tutorial-top {
    position: relative;
    margin: auto;
    width: 800px;
    height: 50px;
    background-color: rgb(34,142,192,0.2);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.tutorial-middle {
    position: relative;
    margin: auto;
    width: 800px;
    height: 350px;
    background-color: rgb(34,142,192,0.2);

}

.tutorial-bottom {
    position: relative;
    margin: auto;
    width: 800px;
    min-height: 200px;
    height: auto;
    background-color: rgb(34,142,192,0.2);
    border-radius: 0px 0px 20px 20px;
}

.add-gap {
    position: relative;
    margin: auto;
    width: 800px;
    height: 200px;

}
